{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/main_page/top_slider.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/nouislider.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/mainPage.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
    <script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>
    <script src="{{ asset('assets/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('assets/js/top_price_ranger.js') }}"></script>


{% endblock %}

{% block metaTags %}
    {{ parent() }}
{% endblock %}

{% block title %}paypalSuccess{% endblock %}

{% block bodyVars %}{% endblock %}
{% block bodyClass %}{% endblock %}

{% block content %}

<div class="standard_wide uk-margin-top">
    <h1>Test payment</h1>

    <form class="paypal" action="/paypalPayment" method="post" id="paypal_form" target="_blank">
        <input type="hidden" name="cmd" value="_xclick" />
        <input type="hidden" name="no_note" value="1" >
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="currency_code" value="USD" >
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" >
        <input type="hidden" name="first_name" value="Timur" >
        <input type="hidden" name="last_name" value="Malyshev" >
        <input type="hidden" name="payer_email" value="multiprokat.msk-buyer@gmail.com" >
        <input type="hidden" name="item_number" value="123456">
        <input type="submit" name="submit" value="Submit Payment">
    </form>
</div>










{% endblock %}